<div class="wrapper">
  <main class="nxt-wrap">
    <div class="main">
      <h1>Welcome to Eventtes where you can Create an Event and invite your friends</h1>
    </div>
    <div class="cta">
      <ul>
        <li><a href="#">Sign Up</a> if you don't hava an account</li>
        <li><a href="#">Sign In</a> if you do</li>
      </ul>
    </div>
  </main>
</div>