<div class="wrapper">
  <main class="nxt-wrap">
    <div class="main">
      <h1>Welcome to Eventtes 
        <% if current_user %><%= current_user.name + ',' %><%end%>
        where you can Create an Event and invite your friends to partey!!
      </h1>
    </div>
    <% unless logged_in? %>
      <div class="cta">
        <ul>
          <li><%= link_to 'Sign Up', new_user_path %></a> if you don't hava an account</li>
          <li><%= link_to 'Sign In', login_path %></a> if you do</li>
        </ul>
      </div>
    <% end %>
  </main>
</div>