<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <h2 class="title has-text-centered">All Events</h2>
        <div class="columns">
          <%= render 'partials/past' %>
          
          <%= render 'partials/coming' %>
        </div>
      </div>

    </div>
  </div>
</section>