<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

        <h2 class="title is-2">Invite Users</h2>

        <%= render 'partials/invite_form' %>

      </div>
    </div>
  </div>
</div>